In [45]:
# Import all libraries and dependencies

import datetime
import pandas as pd
import yfinance as yf
from path import Path

In [46]:
#Define the tickers to download data of the stocks.
tickers = ["TRI.TO"]

# Fetch tickers data from 1/1/2019 until 3/3/2022.
start_date = datetime.date(2019,1,1)
end_date = datetime.date(2022,3,3)
interval = '1d'
period = round((end_date - start_date).days/365,0)
if interval == "1d":
    annual_interval = 252

In [47]:
# Use yfinance to download the data
yf.Tickers(tickers)
stock_data = yf.download(tickers, start = start_date, end = end_date, interval = interval)

# Check the data type
type(stock_data)

[*********************100%***********************]  1 of 1 completed

pandas.core.frame.DataFrame

In [48]:
# Review data
stock_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,65.730003,65.730003,64.250000,64.599998,61.395039,1058300
2019-01-03,64.389999,64.599998,63.139999,63.230000,60.093006,870000
2019-01-04,63.599998,64.050003,63.419998,63.720001,60.558701,791600
2019-01-07,63.680000,63.709999,62.919998,63.139999,60.007481,854000
2019-01-08,63.439999,64.139999,62.950001,63.189999,60.055000,1162800
...,...,...,...,...,...,...
2022-02-24,123.709999,128.750000,123.080002,128.559998,128.559998,822800
2022-02-25,129.009995,129.210007,127.110001,128.440002,128.440002,288000
2022-02-28,127.610001,128.360001,126.620003,128.160004,128.160004,716100
2022-03-01,128.100006,130.229996,128.039993,129.940002,129.940002,389300
2022-03-02,130.179993,131.690002,129.250000,131.190002,131.190002,391300

In [49]:
# Count nulls. If there are any nulls, drop them.
stock_data.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [50]:
# Drop the nulls.
stock_data = stock_data.dropna()

In [51]:
# Check that nulls were successfully dropped.
stock_data.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [52]:
# Check for duplicates
stock_data.duplicated().sum()

0

In [53]:
# Describe data
stock_data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,795.000000,795.000000,795.000000,795.000000,795.000000,7.950000e+02
mean,105.340352,106.233094,104.501572,105.401773,102.728091,4.809361e+05
std,22.510105,22.622474,22.369329,22.459708,23.477793,2.907294e+05
min,63.230000,63.709999,62.919998,63.139999,60.007481,4.660000e+04
25%,89.270000,89.935001,88.344997,89.375000,85.196609,3.073500e+05
50%,101.790001,102.559998,101.070000,101.739998,99.028168,4.042000e+05
75%,115.829998,116.799999,114.945000,116.435001,114.627831,5.664000e+05
max,156.440002,156.619995,154.250000,156.009995,155.310867,3.020100e+06

In [54]:
# Check if column data is float and int
stock_data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [55]:
# Save to CSV
file_path = Path("Resources/tri.csv")
stock_data.to_csv(file_path, index=True, encoding='utf-8-sig')