In [1]:
# Import all libraries and dependencies

import datetime
import pandas as pd
import yfinance as yf
from pathlib import Path

In [2]:
#Define the tickers to download data of the stocks.
tickers = ["L.TO"]

# Fetch tickers data from 1/1/2019 until 3/3/2022.
start_date = datetime.date(2019,1,1)
end_date = datetime.date(2022,3,3)
interval = '1d'
period = round((end_date - start_date).days/365,0)
if interval == "1d":
    annual_interval = 252

In [3]:
# Use yfinance to download the data
yf.Tickers(tickers)
stock_data = yf.download(tickers, start = start_date, end = end_date, interval = interval)

# Check the data type
type(stock_data)

[*********************100%***********************]  1 of 1 completed

pandas.core.frame.DataFrame

In [4]:
# Review data
stock_data

                 Open        High        Low       Close   Adj Close   Volume
Date
2019-01-02  60.970001   61.799999  60.450001   61.049999   57.818462   626700
2019-01-03  60.770000   61.110001  60.369999   60.669998   57.458569   617800
2019-01-04  60.930000   61.290001  60.509998   60.799999   57.581688   444100
2019-01-07  61.000000   61.599998  60.470001   61.369999   58.121513   724700
2019-01-08  61.549999   62.090000  61.310001   61.849998   58.576099   601100
...               ...         ...        ...         ...         ...      ...
2022-02-24  95.120003  101.489998  95.010002  101.059998  101.059998   694500
2022-02-25  99.570000  101.430000  97.370003  100.949997  100.949997   810300
2022-02-28  99.919998  100.629997  98.449997   98.870003   98.870003  1081900
2022-03-01  98.839996   99.639999  97.650002   98.019997   98.019997   497200
2022-03-02  98.129997   99.650002  98.019997   99.489998   99.489998   439000

[795 rows x 6 columns]

In [5]:
# Select closing prices and volume only
#price_and_volume = stock_data[["Close", "Volume"]]
price_and_volume = stock_data.copy()
price_and_volume.head()

                 Open       High        Low      Close  Adj Close  Volume
Date
2019-01-02  60.970001  61.799999  60.450001  61.049999  57.818462  626700
2019-01-03  60.770000  61.110001  60.369999  60.669998  57.458569  617800
2019-01-04  60.930000  61.290001  60.509998  60.799999  57.581688  444100
2019-01-07  61.000000  61.599998  60.470001  61.369999  58.121513  724700
2019-01-08  61.549999  62.090000  61.310001  61.849998  58.576099  601100

In [6]:
price_and_volume.tail()

                 Open        High        Low       Close   Adj Close   Volume
Date
2022-02-24  95.120003  101.489998  95.010002  101.059998  101.059998   694500
2022-02-25  99.570000  101.430000  97.370003  100.949997  100.949997   810300
2022-02-28  99.919998  100.629997  98.449997   98.870003   98.870003  1081900
2022-03-01  98.839996   99.639999  97.650002   98.019997   98.019997   497200
2022-03-02  98.129997   99.650002  98.019997   99.489998   99.489998   439000

In [7]:
# Count nulls. If there are any nulls, drop them.
price_and_volume.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [8]:
# Drop the nulls.
price_and_volume = price_and_volume.dropna()

In [9]:
# Check that nulls were successfully dropped.
price_and_volume.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [10]:
# Check for duplicates
price_and_volume.duplicated().sum()

0

In [11]:
# Rename Close and Volume to all lower case
#price_and_volume.rename(columns= {"Close" : "close", "Volume" : "volume"}, inplace = True)

In [12]:
# Describe data
price_and_volume.describe()

,Open,High,Low,Close,Adj Close,Volume
count,795.000000,795.000000,795.000000,795.000000,795.000000,7.950000e+02
mean,73.436277,74.094855,72.900226,73.512113,71.706778,5.959356e+05
std,10.873257,11.006821,10.833702,10.941982,11.690114,3.470714e+05
min,60.009998,61.110001,59.009998,59.470001,57.458569,1.029000e+05
25%,66.760002,67.155003,66.204998,66.669998,64.315800,3.759000e+05
50%,69.529999,70.070000,69.089996,69.610001,67.332466,5.082000e+05
75%,74.880001,75.430000,74.345001,74.879997,72.794315,7.121500e+05
max,104.440002,105.150002,103.660004,104.419998,104.419998,3.783900e+06

In [13]:
# Check if closing price and volume are floats 
price_and_volume.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [14]:
# Plot the closing prices
price_and_volume["close"].plot()

KeyError: 'close'

In [ ]:
# Save to CSV
file_path = Path("Resources/shop.csv")
price_and_volume.to_csv(file_path, index=True, encoding='utf-8-sig')